@font-face {
  font-family: 'Chivo Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(font?kit=mFThWbgRxKvF_Z5eQMO9qRMrJJrnKNtC3D7hr6fW&skey=183ef205570cc250&v=v9) format('woff');
}
